StockSoftware/.metadata/
StockSoftware/.recommenders/
StockSoftware/ContentHelper/.classpath
StockSoftware/ContentHelper/.project
StockSoftware/ContentHelper/.settings/
StockSoftware/ContentHelper/bin/
StockSoftware/DBUtility/.classpath
StockSoftware/DBUtility/.project
StockSoftware/DBUtility/.settings/
StockSoftware/DBUtility/bin/
StockSoftware/RemoteSystemsTempFiles/.project
StockSoftware/StockAdminController/.classpath
StockSoftware/StockAdminController/.project
StockSoftware/StockAdminController/.settings/
StockSoftware/StockAdminController/bin/
StockSoftware/StockClientApplication/.classpath
StockSoftware/StockClientApplication/.project
StockSoftware/StockClientApplication/.settings/
StockSoftware/StockClientApplication/bin/
